.banner-coavn{
    background-color: $dark;
    color:$white;
    @include radius-lg;
    padding: 1.5rem;
    @include tablet{
        padding: 2rem;
    }
    @include mobile{
        margin-bottom: 3rem;
    }
    h2{
        color: $white;
        @include desktop{
            font-size: 2rem;
        }
    }
    .lead{
        @include desktop{
            max-width: 70%;
        }
    }
    .logo-coavn{
        margin-bottom: 1rem;
        img{
            max-width: 8rem;
        }
    }
    .ediciones{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include tablet{
            flex-direction: row;
        }
        .edicion{
            .edicion-pic{
                margin-bottom: 1rem;
                img{
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    @include radius-sm;
                }
            }
            text-align: center;
        }
    }
}