.button{
    @include radius-sm;
    &.is-primary{
        &:visited{
            color: $white;
        }
    }
    &.is-secondary{
        color: $primary;
        background-color: transparent;
        border: 1px solid $primary;
        &:hover, &:active{
            border-color: $primary-dark;
            color: $primary-dark;
        }
    }
    &.is-dark{
        background-color: $dark;
    }
    &.is-outline-white{
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        &:active, &:hover{
            opacity: .8;
        }
    }
    &.is-download{
        &::before{
            content: "";
            background-image: url("../images/download.svg");
            background-repeat: no-repeat;
            background-size: 18px;
            display: inline-block;
            margin: 0 .5rem 0 0;
            width: 20px;
            height: 20px;
        }
    }
    &.is-arrow{
        &::before{
            content: "";
            background-image: url("../images/arrow_forward.svg");
            background-repeat: no-repeat;
            background-size: 16px;
            display: inline-block;
            margin: 0 .5rem 0 0;
            width: 20px;
            height: 20px;
            margin-top: .3rem;
        }
    }
}

.link-gallery{
    border: 1px solid $primary;
    @include radius-md;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $white;
    @include transition;
    &:hover, &:active{
        background-color: $primary-light;
        @include box-shadow;
    }
    span{
        &::before{
            content: "";
            background-image: url("../images/gallery.svg");
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center center;
            display: block;
            margin: 0 .5rem 0 0;
            width: 100%;
            height: 50px;
            text-align: center;
        }
    }
}