.card-promocion{
    margin-bottom: 2rem;
    padding: .5rem;
    @include desktop{
        margin-bottom: 3rem;
    }
    // @include transition;
    @include radius-md;
    .card-copy{
        display: block;
        margin:1rem 0 0 0;
        h3{
            margin-bottom: 1rem;
        }
        p:not(:last-of-type){
            color: $gray-dark;
            margin-bottom: 1rem;
        }
    }
    .pic-wrapper, .video-wrapper{
        @include radius-sm;
        @include desktop{
            @include radius-md;
        }
    }
    &:hover{
        outline: .5rem solid $primary-light;
        background-color: $primary-light;
    }
}

section.section.bg-gray{
    .card-promocion{
        &:hover{
            outline: .5rem solid $white;
            background-color: $white;
        }
    }
}