//Videos & maps
.video-wrapper, .map-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    @include radius-md;
    @include tablet{
        border: 1px solid $gray-border;
    }
    &.is-large{
        @include desktop{
            @include radius-lg;
        }
    }
    &.is-4-3{
        padding-top: 75%; /* 4:3 Aspect Ratio */
    }
    .iframe, video, iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 102% !important;
        height: 100% !important;
        // mix-blend-mode: multiply;
    }
}



//Tag
.tag{
    padding: .5rem 1rem;
    background-color: $primary-light;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include radius-xs;
    font-size: $font-size-xs;
    display: inline-block;
    @include font-bold;
}

//Promo details
.logo-promo{
    margin-top: 2rem;
    img{
        max-width: 12rem;
    }
}


//Tipologias
.tipologia-item{
    margin: 2.5rem 0;
    h3{
        margin-bottom: 1rem;
    }
    .accordion-item{
        background-color: $white;
        padding: 1rem;
        @include radius-md;
        margin-bottom: 1rem;
        &.is-open{
            .ac-header{
                background-color: $primary-light;
            }
            .ac-content{
                display: block;
            }
        }
        .ac-header{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: space-between;
            align-items: center;
            @include radius-sm;
            padding: 1rem;
            @include mobile{
                flex-direction: column;
                gap: 1rem;
                align-items: flex-start;
            }
            .left-side{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: baseline;
                @include desktop{
                    gap: 4rem;
                }
                p.title{
                    @include font-bold;
                }
                @include mobile{
                    flex-direction: column;
                    gap: 1rem;
                }
            }
            .right-side{
                margin-left: auto;
                align-items: flex-end;
            }
        }
        .ac-content{
            display: none;
            margin-top: 2rem;
            .button{
                @include mobile{
                    width: 100%;
                }
            }
        }
    }
}

//Planos
figure.plano{
    text-align: center;
    img{
        margin: 0 auto;
    }
}


//Bloque de contacto
.copy-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    h2{
        @include font-title-strong;
        color: $white;
        margin-bottom: 2rem;
        @include desktop{
            max-width: 63%
        }
    }
    .lead{
        @include desktop{
            max-width: 63%
        }
    }
}



//Pictures
.pic-wrapper{
    img{
        aspect-ratio: 16 / 9;
        object-fit: cover;
        @include radius-sm;
        @include tablet{
            @include radius-md;
        }
    }
    &.is-large{
        img{
         @include radius-lg;
        }
     }
}
