.navbar.navbar-main{
    padding: .5rem 1rem;
    @include desktop{
        padding: 1rem 0;
    }
    .navbar-brand{
        .navbar-item img{
            max-height: 2.5rem;
            width:auto;
            @include tablet{
                max-height: 3rem;
            }
        }
        @include desktop{
            width: 25%;
        }
    }
    a.navbar-burger{
        @include radius-sm;
    }
    a.navbar-item:not(.is-logo), .navbar-link{
        @include radius-sm;
        &:hover, &:active, &:focus{
            color: $dark;
            background-color: $primary-light !important;
        }
    }
    .navbar-end{
        .button.is-primary{
            @include mobile{
                width: 100%;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
    .navbar-dropdown{
        border: none;
        @include radius-md;
        padding-top: 0;
        padding-bottom: 0;
        @include desktop{
            @include box-shadow;
        }
        .navbar-item{
            border: none;
            @include radius-sm;
            margin: .5rem;
            font-size: $font-size-md;
            padding: .5rem .75rem;
            &:active, &:hover, &:focus, &:is-active{
                background-color: $primary-light;
            }
        }
    }
}

//dropdown arrow
.navbar-link:not(.is-arrowless)::after{
    border-color: $dark;
    border-radius: 0;
    border-width: 1px;
    height: .5rem;
    width: .5rem;

}
